<extend name="_Layout/main"/>

<block name="title"><title>{$meta_title}</title></block>


<block name="style">
  <style type="text/css">
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body {
      background-color: #eff1f3;
      font-size: 32px;
      text-align: center;
    }
    input[type="submit"] {
      -webkit-appearance: none;
    }
    img {
      margin-top: 95px;
      margin-bottom: 65px;
    }
    .title {
      font-size: 42px;
    }
    input[type="text"] {
      display: block;
      border-radius: 2px;
      border: 1px solid rgb(46, 60, 87);
      background-color: rgb(255, 255, 255);
      width: 600px;
      height: 108px;
      padding-left: 30px;
      font-size: 32px;
      margin: 110px auto 48px auto;
    }
    .query {
      display: block;
      border-radius: 2px;
      background-color: rgb(16, 139, 244);
      width: 600px;
      height: 108px;
      margin: 0 auto;
      text-decoration: none;
      color: #fff;
      line-height: 108px;
    }
    .alert-msg {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 10;
    }
    .msg {
      border-radius: 6px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.13);
      width: 650px;
      height: 390px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -80%);
      transform: translate(-50%, -80%);
      z-index: 11;
      color: #121d31;
      font-size: 34px;
    }
    .msg div {
      margin: 100px 80px 75px;
    }
    .msg span {
      border-radius: 4px;
      width: 270px;
      height: 95px;
      line-height: 95px;
      text-align: center;
      display: inline-block;
    }
    .msg .quit {
      border: 1px solid rgb(78, 91, 116);
      margin-right: 35px;
    }
    .msg .ok {
      background-color: #108bf4;
      color: #fff;
    }
  </style>
</block>

<block name="main">
  <img src="__HOME_IMG__/new/m_logo.png" alt="">
  <div class="title">车辆售后服务进度查询</div>
  <form id="form" action="<?php echo U('detail'); ?>" method="post">
    <input type="text" name="wip" placeholder="请输入工单号">
    <input id="type" name="type" type="hidden" value="N">
    <a href="javascript:;" class="query">查询</a>
  </form>
  <div class="alert-msg">
    <div class="msg">
      <div>提供车牌号等信息给透明车间，以便查询车辆服务进度。</div>
      <span class="quit">不查了</span>
      <span class="ok">好</span>
    </div>
  </div>

</block>

<block name="script">

  <script language=”JavaScript”>
    javascript:window.history.forward(1);
  </script>
  <script type="text/javascript">

    $(function(){

      // 禁止回车
      $(document).keydown(function (event) {
        var key = event.keyCode | event;
        if (key == 13) {
          return false;
        };
      });

      $(".btn-confirm").click(function() {
        var redirect = "<?php echo U('service'); ?>";
        var wip = $("#wip").val();
        if(wip.length != 7) {
          benz.ui.alert('您输入的服务单号有误，请联系服务顾问!');
          return false;
        }
        var url = "<?php echo U('Home/Common/ajaxCheckNormal') ?>"
        var param = {
          wip: wip
        }
        $.ajax({
          url: url,
          data: param,
        })
        .done(function(res) {
          if(res.status == 1) {
            $("#form").submit();
          }else{
            benz.ui.alert('您输入的服务单号有误，请联系服务顾问!');
            return false;
          }
        })
      });

      // 点击查询
      $('.query').click(function(){
        $('.alert-msg').show();
      })
      // 点击取消
      $('.quit').click(function(){
        $('.alert-msg').hide();
      })
      // 点击确定
      $('.ok').click(function() {
        $('#form').submit();
      })
    });
</script>
</block>





