<extend name="_Layout/main"/>

<block name="title"><title>{$meta_title}</title></block>

<block name="style">
  <style type="text/css">
    body {
      background-color: #eff1f3;
    }
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -65%);
      transform: translate(-50%, -65%);
    }
    .img {
    }
    
  </style>
</block>

<block name="main">
  <img src="__HOME_IMG__/new/{$type}.png" alt="alertmsg">
</block>

<block name="script">
  <script type="text/javascript">
    
  </script>
</block>





