<extend name="_Layout/main"/>

<block name="main">
	<style type="text/css">
		.main {
			margin-bottom: 80px;
		}
		.block {
			background-color: #fff;
			margin-top: 20px;
		}
		h4 {
			margin-top: 3px;
		}
		th {
			width: 20%;
			text-align: center;
		}
		td {
			width: 70%;
			text-align: center;
			/*padding-left: 20px;*/
		}
	</style>
	<div class="col-md-10 block">

		<fieldset>
			<legend><h3>用户信息</h3></legend>
			<table class="table table-bordered table table-striped table-hover">
				
				<tr>
					<th>真实姓名</th>
					<td>高宇</td>
				</tr>
			</table>
		</fieldset>
	</div>

	
</block>