<extend name="_Layout/main"/>
<block name="style">
  <link rel="stylesheet" href="__PUBLIC__/css/order.css">
</block>
<block name="main">
  <form action="<?php echo U('password'); ?>" method="post" enctype="multipart/form-data" class="form-password">
      <h3>用户列表 <span>></span> 修改密码</h3>
      <div class="setting">
        <div class="user-details">
          <div>
            <span class="require">用户名:</span>
            <input type="text" placeholder="请设置成与D8账号一致" name="username" readonly="true" value="{$username}">
          </div>
          <div class="password"> 
            <span class="require">原密码:</span>
            <input type="password" placeholder="请输入6位数字" name="user_password">
          </div>
          <div class="password"> 
            <span class="require">输入密码:</span>
            <input type="password" placeholder="请输入6位数字" name="new_password">
          </div>
          <div class="password"> 
            <span class="require">确认密码:</span>
            <input type="password" placeholder="请输入6位数字" name="re_password">
          </div>
          <a href="javascript:;" class="save ajax-post">确定</a>
          <a href="{:U('index')}" class="back">取消</a>
        </div>
      </div>
  </form>
</block>

<block name="script">
  <script type="text/javascript">
    $(function(){
      $('.save').click(function() {
      	var have = true
        $('.require').each(function(index) {
          var required = $(this).next().val()
          have &= !!required
        })
        if(have) {
        	$('.form-password').submit();
        }else {
        	alert('请填写必填字段')
        }
      })
    });
  </script>
</block>